*{
padding: 0;
margin: 0;
}
header{
background-color: orange;
height: 200px;
}
nav{
width: 20%;
height: 500px;
background-color: greenyellow;
float: left;
}
main{
width: 60%;
height: 500px;
background-color: lightgoldenrodyellow;
float: left;
}
aside{
width: 20%;
height: 500px;
background-color: lightskyblue;
float: left;
}
footer{
background-color: lightcoral;
height: 200px;
clear: both;
}